/* + categorization */
.categorization
{
	> ul 
	{
		background-color: #fff;
		margin: 0;

		> li 
		{
			padding-bottom: 52px;
			width: 341px;
			text-align: center;
			color: #525262;
			background: url(../images/shadow_categorization_li.png) right 255px no-repeat;

			&:last-child
			{
				background: none;
			}

			&.categorization-suppliers > .categorization-pic
			{
				background: url(../images/bg_suppliers.jpg) center top no-repeat;
			}
			&.categorization-enterprise > .categorization-pic
			{
				background: url(../images/bg_enterprise.jpg) center top no-repeat;
			}
			&.categorization-supplychain > .categorization-pic
			{
				background: url(../images/bg_supplychain.jpg) center top no-repeat;
			}
			> .categorization-pic
			{
				margin: 1px 0 0 1px;
				min-height: 255px;
			}
			> h3
			{
				font-size: 20px;
				padding: 0 23px;
			}
			> p
			{
				font-size: 15px;
				padding: 0 23px;
				line-height: 1.8em;
			}
			> .btn
			{
				color: #252531;
				padding: 7px 20px;

				&.btn-primary
				{
					color: #fff;
					padding: 7px 20px;
					opacity: .8;
				}
				> .caret
				{
					margin: 5px 0 0 10px;
					border-width: 5px;
					border-style: solid;
					border-color: transparent;
					border-left-color: #252531;
				}
				&.btn-primary > .caret
				{
					border-left-color: #fff;
				}
			}
		}
	}
	.categorization-shadow-l,
	.categorization-shadow-r
	{
		width: 67px;
		height: 255px;
		position: absolute;
		top: 0;
		background-repeat: no-repeat;
		background-position: top left;
	}
	.categorization-shadow-l
	{
		left: -67px;
		background-image: url(../images/shadow_categorization_l.png);
	}
	.categorization-shadow-r
	{
		right: -67px;
		background-image: url(../images/shadow_categorization_r.png);
	}
}