/* + categorization */
.categorization > ul 
{
	background-color: #fff;
	margin: 0;
}
.categorization ul > li 
{
	padding: 1px 0 52px 0;
	width: 33.3%;
	text-align: center;
	color: #525262;
}
.categorization ul > li > .categorization-pic
{
	min-height: 255px;
}
.categorization-suppliers > .categorization-pic
{
	background: url(../images/bg_suppliers.png) center top no-repeat;
}
.categorization-enterprise > .categorization-pic
{
	background: url(../images/bg_enterprise.png) center top no-repeat;
}
.categorization-supplychain > .categorization-pic
{
	background: url(../images/bg_supplychain.png) center top no-repeat;
}
.categorization ul > li > h3
{
	font-size: 20px;
	padding: 0 23px;
}
.categorization ul > li > p
{
	font-size: 15px;
	padding: 0 23px;
	line-height: 1.8em;
}
.categorization ul > li > .btn
{
	color: #252531;
	padding: 7px 20px;
}
.categorization ul > li > .btn.btn-primary
{
	color: #fff;
	padding: 7px 20px;
	opacity: .8;
}
.categorization ul > li > .btn > .caret
{
	margin: 5px 0 0 10px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
	border-left-color: #252531;
}
.categorization ul > li > .btn.btn-primary > .caret
{
	border-left-color: #fff;
}
