/* + Cedric */
.cedric
{
	padding-top: 30px;
	padding-bottom: 55px;
}
.cedric > .mediaplayer
{
	width: 743px;
	height: 349px;
	border: 2px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .31);
	background: url(../images/bg_media.png) center top no-repeat;
}
.cedric > h2
{
	color: #252531;
	font-size: 23px;
	margin: 0;
}
.cedric > h2 > strong
{
	font-size: 115%;
}
.cedric > p
{
	margin: 0;
	color: #6c6c6c;
	font-size: 16px;
}
