/* + Footer */
footer
{
	padding: 25px 0 100px;

	p
	{
		color: #555;
		margin: 0;
	}
	ul.int-link
	{
		margin: 8px 0 0;

		> li
		{
			> a
			{
				line-height: 1em;
				display: block;
				padding: 0 10px;
				color: #a2a2a2;
				border-left: 1px solid #a2a2a2;
			}
			&:first-child > a
			{
				padding-left: 0;
				border-left-width: 0;
			}
		}
	}
	ul.ext-link > li
	{
		> a
		{
			display: block;
			width: 100px;
			height: 24px;
			background-image: url(../images/link_social.png);
			background-repeat: no-repeat;
		}
		&.ext-link-facebook > a
		{
			background-position: left center;
		}
		&.ext-link-twitter > a
		{
			background-position: center center;
		}
		&.ext-link-youtube > a
		{
			background-position: right center;
		}
	}
}
