/* + Customs data */
.freecustoms
{
	background-color: #444b52;
	padding: 40px 0 80px 0;
	color: #fff;

	> div
	{
		padding-left: 10px;
	}
	.txtguide
	{
		font-size: 19px;
		margin: 0;

		strong
		{
			font-size: 115%
		}
		img
		{
			vertical-align: text-bottom;
			position: relative;
			top: 1px;
		}
	}
	h2
	{
		margin: 0 0 5px;
		line-height: 1.1em;
		font-size: 60px;
		font-weight: bolder;
	}
	.txtdes
	{
		font-size: 20px;
		line-height: 1.3em;
	}
	.btn-group .btn-large
	{
		padding-top: 9px;
		padding-bottom: 9px;
		color: #000;
		font-size: 14px;
	}
	.btn-group .dropdown-toggle .caret
	{
		border-top-color: #000;
	}
	.freecustoms-search
	{
		border: 1px solid #ffba00;
		border-radius: 5px;
		box-shadow: 0 2px 0 rgba(84, 73, 11, .16), 0 1px 0 rgba(255, 255, 255, .38) inset;
	    background-image: linear-gradient(bottom, #ffb400 0%, #ffc000 100%);
	    background-image: -o-linear-gradient(bottom, #ffb400 0%, #ffc000 100%);
	    background-image: -moz-linear-gradient(bottom, #ffb400 0%, #ffc000 100%);
	    background-image: -webkit-linear-gradient(bottom, #ffb400 0%, #ffc000 100%);
	    background-image: -ms-linear-gradient(bottom, #ffb400 0%, #ffc000 100%);
	    line-height: 38px;

		> span
		{
			color: #000;
			font-size: 14px;
		}
		> .caret
		{
			margin: 15px 0 0 5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent;
			border-left-color: #000;
		}
		.form-search
		{
			margin: 4px 10px 0 20px;
		}
		.form-search .input-append .search-query
		{
			width: 350px;
			border-color: rgba(49, 53, 59, .56);
		}
	}
}
