html,
body
{
	background-color: #f1f1f1;
	font: 90%/1.5 'Open Sans', sans-serif, arial;
	color: #000;
	min-width: 1024px;
}
a,
a:hover
{
	text-decoration: none;
}
li
{
	list-style: none;
}
.page-width
{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
.grayscale
{
	filter: gray;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
