/* + Slide */
.herotestimonial
{
	position: relative;
}
.herotestimonial > ul > li.slide-1
{
	background-image: url(../images/fg_slide1.png), url(../images/bg_slide1.png);
	background-position: 88% top, center top;
	background-repeat: no-repeat, no-repeat;
	min-height: 756px;
}
.herotestimonial > ul
{
	margin: 0;
}
.herotestimonial-des
{
	padding: 220px 100px 0;
	width: 350px;
	text-align: center;
	position: relative;
}
.herotestimonial-des > p
{
	color: #fff;
	font-size: 30px;
	font-style: lighter;
	line-height: 1.1em;
}
.herotestimonial-des > .btn
{
	opacity: .8;
	padding: 16px 40px;
	font-size: 19px;
	margin: 20px 0 0;
}
.herotestimonial-des > .btn > .caret
{
	margin: 5px 0 0 12px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent;
	border-left-color: #fff;
}
/* - Slide Button */
.slidebtn
{
	width: 100%;
	position: absolute;
	top: 0;
}
.slidebtn > div
{
	position: relative;
}
.slidebtn-prev,
.slidebtn-next
{
	background: #fff;
	border: 1px solid #ddd;
	opacity: .5;
	padding: 8px 25px;
	border-radius: 20px;
	line-height: 0;
	position: absolute;
	top: 260px;
}
.slidebtn-prev
{
	left: 0;
	padding-right: 30px;
}
.slidebtn-next
{
	right: 0;
	padding-left: 30px;
}
.slidebtn-next .caret,
.slidebtn-prev .caret
{
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
}
.slidebtn-prev .caret
{
	border-right-color: #7e645a;
}
.slidebtn-next .caret
{
	border-left-color: #7e645a;
}
