.howitworks
{
	padding: 30px 0 50px;
}
.howitworks h2
{
	margin: 0;
	font-size: 23px;
	line-height: 2.5em;
}
.howitworks h2 strong
{
	font-size: 115%;
}
.howitworks > ul
{
	margin: 20px 0 0;
}
.howitworks > ul > li
{
	width: 33.3%;
}
.howitworks > ul > li > .howitworks-pic
{
	min-height: 163px;
}
.howitworks-search
{
	background: url(../images/bg_search.png) center top no-repeat;
}
.howitworks-filter
{
	background: url(../images/bg_filter.png) center top no-repeat;
}
.howitworks-find
{
	background: url(../images/bg_find.png) center top no-repeat;
}
.howitworks > ul > li > .howitworks-pic > .howitworks-item
{
	padding: 20px 12px 20px 70px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, .6);
	background-repeat: no-repeat;
	display: inline-block;
	border-radius: 5px;
	margin-top: 51px;
}
.howitworks > ul > li.howitworks-search > .howitworks-pic > .howitworks-item
{
	padding-left: 60px;
}
.howitworks-search .howitworks-item
{
	padding-left: 60px;
	background: url(../images/icon_searchproducts.png) -89px center no-repeat;
}
.howitworks-filter .howitworks-item
{
	background: url(../images/icon_filter.png) -91px center no-repeat;
}
.howitworks-find .howitworks-item
{
	background: url(../images/icon_find.png) -102px center no-repeat;
}
.howitworks > ul > li > p 
{
	color: #6c6c6c;
	font-size: 16px;
	padding: 0 40px;
	margin-top: 20px;
	line-height: 1.5em;
}
.howitworks > ul > li > p > strong
{
	font-size: 23px;
	color: #ffb911;
}
