/* + Account: Sign up/in */
.account 
{
	> a
	{
		color: #4a92d9;
		line-height: 56px;
		font-size: 15px;
	}
	> .btn
	{
		margin-top: -4px;
		opacity: .8;
		padding: 8px 20px 9px;

		&.txt-xxl
		{
			font-size: 15px;
		}
	}
}
