/* + mediavoice */
.mediavoice
{
	background-color: #afb5bf;
	padding: 14px 0 26px;
    background-image: linear-gradient(bottom, rgba(0, 0, 0, .07) 0%, rgba(255, 255, 255, .07) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .07) 0%, rgba(255, 255, 255, .07) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .07) 0%, rgba(255, 255, 255, .07) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .07) 0%, rgba(255, 255, 255, .07) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, .07) 0%, rgba(255, 255, 255, .07) 100%);

	> h2
	{
		width: 22%;
		color: #4e505b;
		font-size: 23px;
		font-weight: lighter;
		margin: 25px 0 0 38px;
		line-height: 1.2em;
	}
	> div
	{
		margin-right: 60px;
		width: 571px;
		height: 100px;
		background: url(../images/logos_media.png) left top no-repeat;
	}
}
