/* + Navigation */
nav
{
	margin: 16px 0 0 -40px;

	ul
	{
		margin: 0;

		> li
		{
			margin-left: 10px;

			&:first-child
			{
				margin-left: 0;
			}
			&.active > a,
			> a:hover
			{
				color: #fff;
				background: rgba(78, 86, 94, .5);
			}
			> a
			{
				color: #3c3b3b;
				font-weight: bold;
				line-height: 2em;
				display: block;
				padding: 0 18px;
				border-radius: 20px;

				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
				-o-transition: all 0.2s ease-in;
				transition: all 0.2s ease-in;
			}
		}
	}
}
/* + Append navigation */
.navcontainer
{
	position: absolute;
	top: 100%;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	padding: 0;
	width: 100%;
	background-color: rgba(68, 75, 82, 0.9);
	opacity: 0;

    -webkit-transition: padding .1s ease-out .2s, visibility 0 linear .4s, opacity .2s ease-in .2s;
	-o-transition: padding .1s ease-out .2s, visibility 0 linear .4s, opacity .2s ease-in .2s;
	-moz-transition: padding .1s ease-out .2s, visibility 0 linear .4s, opacity .2s ease-in .2s;
	transition: padding .1s ease-out .2s, visibility 0 linear .4s, opacity .2s ease-in .2s;

	&.active
	{
		opacity: 1;
		visibility: visible;
		padding: 2px 0;

	    -webkit-transition: padding .1s ease-out;
		-o-transition: padding .1s ease-out;
		-moz-transition: padding .1s ease-out;
		transition: padding .1s ease-out;
	}

	a.navcontainer-top
	{
		font-size: 95%;
		font-weight: lighter;
		color: #fff;
		line-height: 2em;
		margin-left: 10px;

		> .caret
		{
			margin: 4px 0 0 5px;
			width: 0;
			height: 0;
			display: inline-block;
			border-width: 5px;
			border-style: solid;
			border-top-color: transparent;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: #fff;
		}
	}
	nav
	{
		margin: 0 0 0 50px;

		ul > li
		{
			margin-left: 45px;

			&:first-child
			{
				margin-left: 0;
			}
			&.active > a,
			> a:hover
			{
				background: #252531;
			}
			> a
			{
				font-size: 95%;
				font-weight: lighter;
				color: #fff;
				
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
				-o-transition: all 0.2s ease-in;
				transition: all 0.2s ease-in;
			}
		}
	}
}

