/* + Search */
.searchbar
{
	background-color: #252531;
	line-height: 70px;
}
.searchbar > h2
{
	color: #fff;
	font-size: 22px;
	line-height: 70px;
	font-weight: lighter;
	margin: 0 0 0 38px;
}
.searchbar > div.searchformcontainer
{
	margin: 21px 20px 0 0;
}
.searchbar .form-search .input-append .search-query
{
	width: 370px;
}
