/* + Search */
.searchbar
{
	background-color: #252531;
	line-height: 70px;
	
	> h2
	{
		color: #fff;
		font-size: 22px;
		line-height: 70px;
		font-weight: lighter;
		margin: 0 0 0 38px;
	}
	> div.searchformcontainer
	{
		margin: 21px 20px 0 0;
	}
	.form-search .input-append .search-query
	{
		width: 370px;
	}
}
