@import "../moduler/font.less";
@import "../moduler/base.less";
@import "../moduler/global.less";
@import "../moduler/header.less";
@import "../moduler/footer.less";
@import "../moduler/nav.less";
@import "../moduler/leadin.less";
@import "../moduler/searchform.less";
@import "../moduler/herotestimonial.less";
@import "../moduler/searchbar.less";
@import "../moduler/mediavoice.less";
@import "../moduler/freecustoms.less";
@import "../moduler/cedric.less";
@import "../moduler/contentindexing.less";

@import "../moduler/banner.less";

.herotestimonial
{
	> ul > li
	{
		&.slide-1
		{
			min-height: 756px;
			&.slideactive
			{
				background-image: url(../slide/fg_slide1.png), url(../slide/bg_slide1.jpg);
				background-position: 80% 56px, center top;
				background-repeat: no-repeat, no-repeat;
			}
		}
		&.slide-2
		{
			min-height: 756px;
			&.slideactive
			{
				background-image: url(../slide/fg_slide2.png), url(../slide/bg_slide2.jpg);
				background-position: 80% 56px, center top;
				background-repeat: no-repeat, no-repeat;
			}
		}
		&.slide-3
		{
			min-height: 756px;
			&.slideactive
			{
				background-image: url(../slide/bg_slide3.jpg);
				background-position: center top;
				background-repeat: no-repeat;
			}
		}
		@-webkit-keyframes slide-parallax {
		    100%    {	background-position: 90% top, center top;	}
		}
		@-moz-keyframes slide-parallax {
		    100%    {	background-position: 90% top, center top;	}
		}
		@-o-keyframes slide-parallax {
		    100%    {	background-position: 90% top, center top;	}
		}
		@keyframes slide-parallax {
		    100%    {	background-position: 90% top, center top;	}
		}
		&.slideactive
		{
	        -webkit-animation-duration: .4s;
	        -webkit-animation-delay: 0s;
	        -webkit-animation-timing-function: linear;
	        -webkit-animation-fill-mode: both;
	        -moz-animation-duration: .4s;
	        -moz-animation-delay: 0s;
	        -moz-animation-timing-function: linear;
	        -moz-animation-fill-mode: both;
	        -ms-animation-duration: .4s;
	        -ms-animation-delay: 0s;
	        -ms-animation-timing-function: linear;
	        -ms-animation-fill-mode: both;
	        -o-animation-duration: .4s;
	        -o-animation-delay: 0s;
	        -o-animation-timing-function: linear;
	        -o-animation-fill-mode: both;
	        animation-duration: .4s;
	        animation-delay: 0s;
	        animation-timing-function: linear;
	        animation-fill-mode: both;
	        
		    -webkit-animation-name: slide-parallax;
		    -moz-animation-name: slide-parallax;
		    -o-animation-name: slide-parallax;
		    animation-name: slide-parallax;
		}
	}
}
.layout-up-container
{
	position: relative;
	height: 0;
	
	> .layout-up
	{
		width: 100%;
		position: absolute;
		bottom: 0;
	}
}
