@import "../moduler/font.less";
@import "../moduler/base.less";
@import "../moduler/global.less";
@import "../moduler/header.less";
@import "../moduler/footer.less";
@import "../moduler/nav.less";
@import "../moduler/leadin.less";
@import "../moduler/searchform.less";
@import "../moduler/herotestimonial.less";
@import "../moduler/searchbar.less";
@import "../moduler/mediavoice.less";
@import "../moduler/freecustoms.less";
@import "../moduler/cedric.less";
@import "../moduler/contentindexing.less";

@import "../moduler/categorization.less";
@import "../moduler/extlogin.less";
@import "../moduler/howitworks.less";


.cedric
{
	background-color: #fff;
}
.freecustoms
{
	background: url(../images/bg_freecustomsdata.jpg) center top no-repeat;
}
.herotestimonial
{

	> ul > li
	{
		&.slide-1
		{
			min-height: 856px;
			&.slideactive
			{
				background-image: url(../slide/fg_slide_r1.png), url(../slide/bg_slide_r1.jpg);
				background-repeat: no-repeat, no-repeat;
				background-position: 130% top, center top;
			}
		}
		@-webkit-keyframes slide-parallax {
		    100%    {	background-position: 120% top, center top;	}
		}
		@-moz-keyframes slide-parallax {
		    100%    {	background-position: 120% top, center top;	}
		}
		@-o-keyframes slide-parallax {
		    100%    {	background-position: 120% top, center top;	}
		}
		@keyframes slide-parallax {
		    100%    {	background-position: 120% top, center top;	}
		}
		&.slideactive
		{
	        -webkit-animation-duration: .4s;
	        -webkit-animation-delay: 0.2s;
	        -webkit-animation-timing-function: ease-out;
	        -webkit-animation-fill-mode: both;
	        -moz-animation-duration: .4s;
	        -moz-animation-delay: 0.2s;
	        -moz-animation-timing-function: ease-out;
	        -moz-animation-fill-mode: both;
	        -ms-animation-duration: .4s;
	        -ms-animation-delay: 0.2s;
	        -ms-animation-timing-function: ease-out;
	        -ms-animation-fill-mode: both;
	        -o-animation-duration: .4s;
	        -o-animation-delay: 0.2s;
	        -o-animation-timing-function: ease-out;
	        -o-animation-fill-mode: both;
	        animation-duration: .4s;
	        animation-delay: 0.2s;
	        animation-timing-function: ease-out;
	        animation-fill-mode: both;

		    -webkit-animation-name: slide-parallax;
		    -moz-animation-name: slide-parallax;
		    -o-animation-name: slide-parallax;
		    animation-name: slide-parallax;
		}
		.herotestimonial-des
		{
			padding-top: 260px;
		}
	}
}
.layout-up
{
	margin-top: -356px;
	position: relative;
}









