@import "../moduler/font.less";
@import "../moduler/base.less";
@import "../moduler/global.less";
@import "../moduler/header.less";
@import "../moduler/footer.less";
@import "../moduler/nav.less";
@import "../moduler/leadin.less";
@import "../moduler/searchform.less";
@import "../moduler/herotestimonial.less";
@import "../moduler/searchbar.less";
@import "../moduler/mediavoice.less";
@import "../moduler/freecustoms.less";
@import "../moduler/cedric.less";
@import "../moduler/banner.less";
@import "../moduler/contentindexing.less";

.layout-up-container
{
	position: relative;
	height: 0;
}
.layout-up
{
	width: 100%;
	position: absolute;
	bottom: 0;
}