/* Open Sans */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
.opensans
{
	font-family: 'Open Sans', sans-serif, arial;
    font-weight: 400;
}
/* Elektra Light Pro */
@font-face{
    font-family: elektra;
    src: url(elektralightpro.otf);
    font-weight: 400;
}
.elektra
{
	font-family: 'elektra', sans-serif, arial;
    font-weight: 400;
}
