.slide-inside
{
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 1;
}
/* + Banner */
.banner
{
	background-color: #9c9ea1;
	line-height: 70px;
}
.banner p
{
	color: #ebebeb;
	text-align: center;
	font-size: 19px;
	margin: 0;
}
.banner p > img
{
	vertical-align: text-bottom;
	position: relative;
	top: 1px;
}
