.form-search
{
	line-height: 0;
}
.form-search .input-append
{
	position: relative;
}
.form-search .input-append .search-query
{
	font-size: 12px;
	border: 1px solid #2c2e37;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	border-radius: 15px;
	padding: 3px 12px;
}
.form-search button
{
	background: none;
	border-width: 0;
	box-shadow: none;
	text-indent: -5000px;
	position: absolute;
	z-index: 3;
	top: 6px;
	right: 10px;
	padding: 0;
	width: 16px;
	height: 16px;
	background: url(../images/icon_search.png) center center no-repeat;
}
/* + Slide */
.slide
{
	position: relative;
}
.slide > ul > li.slide-1
{
	background-image: url(../images/fg_slide1.png), url(../images/bg_slide1.png);
	background-position: 88% top, center top;
	background-repeat: no-repeat, no-repeat;
	min-height: 756px;
}
.slidebtn
{
	width: 100%;
	position: absolute;
	top: 260px;
}
.slidebtn-prev,
.slidebtn-next
{
	background: #fff;
	border: 1px solid #ddd;
	opacity: .5;
	padding: 8px 25px;
	border-radius: 20px;
	line-height: 0;
}
.slidebtn-prev
{
	padding-right: 30px;
}
.slidebtn-next
{
	padding-left: 30px;
}
.slidebtn-next .caret,
.slidebtn-prev .caret
{
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
}
.slidebtn-prev .caret
{
	border-right-color: #7e645a;
}
.slidebtn-next .caret
{
	border-left-color: #7e645a;
}
.slide > ul
{
	margin: 0;
}
.slide-des
{
	padding: 220px 100px 0;
	width: 350px;
	text-align: center;
	position: relative;
	z-index: 1;
}
.slide-des > p
{
	color: #fff;
	font-size: 30px;
	font-style: lighter;
	line-height: 1.1em;
}
.slide-des > .btn
{
	opacity: .8;
	padding: 16px 40px;
	font-size: 19px;
	margin: 20px 0 0;
}
.slide-des > .btn > .caret
{
	margin: 5px 0 0 12px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent;
	border-left-color: #fff;
}
/* + Search */
.search
{
	background-color: #252531;
	line-height: 70px;
}
.search > h2
{
	color: #fff;
	font-size: 22px;
	line-height: 70px;
	font-weight: lighter;
	margin: 0 0 0 38px;
}
.search .form-search
{
	margin: 21px 20px 0 0;
}
.search .form-search .input-append .search-query
{
	width: 370px;
}
/* + Evaluation */
.evaluation
{
	background-color: #afb5bf;
	padding: 14px 0 26px;
    background-image: linear-gradient(bottom, rgba(0, 0, 0, .07) 0%, rgba(255, 255, 255, .07) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .07) 0%, rgba(255, 255, 255, .07) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .07) 0%, rgba(255, 255, 255, .07) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .07) 0%, rgba(255, 255, 255, .07) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, .07) 0%, rgba(255, 255, 255, .07) 100%);
}
.evaluation > h2
{
	width: 22%;
	color: #4e505b;
	font-size: 23px;
	font-weight: lighter;
	margin: 25px 0 0 38px;
	line-height: 1.2em;
}
.evaluation > div
{
	margin-right: 60px;
	width: 571px;
	height: 100px;
	background: url(../images/logos_media.png) left top no-repeat;
}
/* + Customs data */
.customsdata
{
	background-color: #444b52;
	padding: 30px 0 90px 0;
	color: #fff;
}
.customsdata > div
{
	padding-left: 10px;
}
.customsdata .txtguide
{
	font-size: 19px;
	margin: 0;
}
.customsdata .txtguide strong
{
	font-size: 115%
}
.customsdata .txtguide img
{
	vertical-align: text-bottom;
	position: relative;
	top: 1px;
}
.customsdata h2
{
	margin: 0 0 5px;
	line-height: 1.1em;
	font-size: 60px;
	font-weight: bolder;
}
.customsdata .txtdes
{
	font-size: 20px;
	line-height: 1.3em;
}
.customsdata .btn-group .btn-large
{
	padding-top: 9px;
	padding-bottom: 9px;
	color: #000;
	font-size: 14px;
}
.customsdata .btn-group .dropdown-toggle .caret
{
	border-top-color: #000;
}
.customsdata-search
{
	border: 1px solid #ffba00;
	border-radius: 5px;
	box-shadow: 0 2px 0 rgba(84, 73, 11, .16), 0 1px 0 rgba(255, 255, 255, .38) inset;
    background-image: linear-gradient(bottom, #ffb400 0%, #ffc000 100%);
    background-image: -o-linear-gradient(bottom, #ffb400 0%, #ffc000 100%);
    background-image: -moz-linear-gradient(bottom, #ffb400 0%, #ffc000 100%);
    background-image: -webkit-linear-gradient(bottom, #ffb400 0%, #ffc000 100%);
    background-image: -ms-linear-gradient(bottom, #ffb400 0%, #ffc000 100%);
    line-height: 38px;
}
.customsdata-search > span
{
	color: #000;
	font-size: 14px;
}
.customsdata-search > .caret
{
	margin: 15px 0 0 5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
	border-left-color: #000;
}
.customsdata-search .form-search
{
	margin: 4px 10px 0 20px;
}
.customsdata-search .form-search .input-append .search-query
{
	width: 350px;
	border-color: rgba(49, 53, 59, .56);
}
/* + Cedric */
.cedric
{
	padding-top: 30px;
	padding-bottom: 55px;
}
.cedric > .mediaplayer
{
	width: 743px;
	height: 349px;
	border: 2px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .31);
	background: url(../images/bg_media.png) center top no-repeat;
}
.cedric > h2
{
	color: #252531;
	font-size: 23px;
	margin: 0;
}
.cedric > h2 > strong
{
	font-size: 115%;
}
.cedric > p
{
	margin: 0;
	color: #6c6c6c;
	font-size: 16px;
}
/* + Product categories */
.products
{
	background-color: #fff;
}
.products > div
{
	padding: 30px 40px 40px;
}
.products > h2
{
	margin: 0;
}
.products
{
	font-size: 12px;
}
.products-categories
{
	margin: 30px 0 0 50px;
}
.products-categories li
{
	width: 27%;
	margin-right: 8%;
}
.products-categories li:last-child
{
	margin-right: 0;
}
.products-categories dt
{
	color: #252531;
}
.products-categories dd
{
	color: #4283ce;
	margin: 0;
}
.products-retrieve
{
	margin: 15px 0 0;
}
.products-retrieve > li
{
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px 20px;
	width: 23%;
	box-sizing: border-box;
	margin-left: 25px;
}
.products-retrieve > li:first-child
{
	margin-left: 0;
}
.products-retrieve > li > h3
{
	font-size: 13px;
	margin: 0 0 10px;
	line-height: 1.2em;
}
.products-retrieve > li > a
{
	float: left;
	margin: 0 10px 0 0;
	line-height: 2.5em;
}











